.App {
  text-align: center;
}

table {
  margin-left: auto;
  margin-right: auto;
}

.tableTitle {
  text-indent: center;
}

.ativa {
  background-color: green;
}

.inativa {
  background-color: red;
}
